{% extends '_base.html.twig' %}

{% block listLinkStyle %}current_page{% endblock %}

{% block title %}movie list{% endblock %}

{% block main %}
<!-- start table for displaying MOVIE details -->
    <h2>Lists of movies and their average votes</h2>

    <table>
        <tr>
            <th> ID </th>
            <th> title </th>
            <th> category </th>
            <th> price </th>
            <th> vote average </th>
            <th> num votes </th>
            <th> stars </th>
        </tr>

        {% for movie in movies %}
        <tr>
            <td>{{ movie.id }}</td>
            <td>{{ movie.title }}</td>
            <td>{{ movie.category }}</td>
            <td>&euro; {{ movie.price | number_format(2, '.', ',') }}</td>
            <td>{{ movie.voteAverage }} %</td>
            <td>{{ movie.numVotes }}</td>
            <td>
                {% if movie.numVotes > 0 %}
                    <img src="images/{{ movie.starImage }}" alt="star image for percentage">
                {% else %}
                    (no votes yet)
                {% endif %}
            </td>
        </tr>
        {% endfor %}

    </table>
{% endblock %}